body {
    background-image: url('aliceBackground.png');
}
h1{
    width: max-content;
    height: 100%;
    background-color: rgb(173, 216, 230,0.7) ;
    text-align: center;
    font-size: 30px;
    border: 5px outset black;
    border-radius:25px;
    padding:5px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-blend-mode: color;
    margin-top: 3%;
}
#head-text{
    color: #665b23;
}
#user-input{
    width: max-content;
    height: 100%;
    background-color: rgb(235 201 109 / 90%) ;
    text-align: center;
    font-size: 30px;
    border: 5px outset black;
    border-radius:25px;
    padding:5px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-blend-mode: color;
    margin-top: 1%;
}
#username-txt{

}
#start-button{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 5px outset black;
    border-radius:25px;
    padding: 5px;
    width: max-content;
    margin: auto;
    margin-top: 25px;
}
input{
    padding-left: 3%;
    padding-right:3%;
}
slider{
    font-size: 15px;
}